
[v-cloak] {
	display: none;
}


* {
	padding: 0px;
	margin: 0px;
}

#to-do {
	width: 400px;
	margin-left: 30%;
	font-family: 'Sriracha', cursive;


}

ul {
  list-style-type: none;

}

.btn-sm {
	font-size: 8px;
}

.title {
	text-align: center;
}

.box {
	
}
